.title-class {
	font-family: "Bangers";
	font-size: 23px;
	
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: center;
	color: #003677;
}

.text-class {
	font-family: "Bangers";
	font-size: 18px;
	
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: center;
	color: #003677;
	white-space: pre-line;
}

.container-class {
	padding: 0px;
}

.confirm-button-class {
	width: 135px;
  border-radius: 8px;
  border: solid 2px #ffb700;
	font-family: "Bangers";
	font-size: 20px;
	
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: white;
}
