@font-face {
  font-family: "Compita";
  src: url(./assets/fonts/Compita-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./assets/fonts/Gilroy-Bold.otf) format ("opentype");
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(./assets/fonts/Gilroy-Medium.otf) format ("opentype");
  /* font-weight: normal;
  font-style: normal; */
}

body {
  background: white;
  margin: 0;
  font-family: "Compita", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
}

button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swal2-title {
  color: white !important;
}
.swal2-popup {
  color: white !important;
  border: solid #000 !important;
  border-width: 5px 3px 4px 3px !important;
  border-radius: 16px !important;
  box-shadow: 24px 24px 48px -24px #131313;
}

.swal2-html-container {
  color: white !important;
  background-color: #000;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-button--confirm {
  border-radius: 5px;
}

.swal2-confirm {
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 12px !important;
  text-transform: uppercase !important;
  border: 4px solid #000 !important;
  padding: 12px !important;
  min-width: 100px;
  color: white !important;
  background: #20A4FC !important;
  background-size: 12px, 100% !important;
  margin: 0px 30px !important;
}